@model IEnumerable<ExamCore.Models.Result>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-12 stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <p>
                    <a asp-action="Create">Create New</a>
                </p>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Mark)</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Mark)</td>
                                <td>
                                    <a asp-action="Details" asp-route-id="@item.Id"><label class="badge badge-info">Detail</label></a>
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id"><label class="badge badge-warning">Edit</label></a>
                                </td>
                                <td>
                                    <a asp-action="Delete" asp-route-id="@item.Id"><label class="badge badge-danger">Delete</label></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
