@model IEnumerable<EXAMSYSTEM.CORE.Models.UserExam>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12 stretch-card">
    <div class="card">
        <div class="card-body">
            <form class="forms-sample" asp-action="Index" method="get">
                <div class="form-group row">
                    <label class="col-sm-1 col-form-label"> Username</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" name="searchName" id="exampleInputEmail2">
                    </div>
                    <div class="col-sm-2"></div>
                    <label class="col-sm-1 col-form-label"> Subject</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" name="searchSubject" id="exampleInputEmail2">
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-1">
                        <input type="submit" class="btn btn-success mr-2" value="Search" />
                    </div>
                </div>
            </form>
            <div class="table-responsive">
                <table class="table table-hover" id="tblexportData">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Subject.SubjectName)</th>
                            <th>@Html.DisplayNameFor(model => model.User.Username)</th>
                            <th>@Html.DisplayNameFor(model => model.Score)</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Subject.SubjectName)</td>
                                <td>@Html.DisplayFor(modelItem => item.User.Username)</td>
                                <td>@Html.DisplayFor(modelItem => item.Score)</td>
                                <td>
                                    <a asp-controller="UserExam" asp-action="Edit" asp-route-id="@item.UserExamId"><label class="badge badge-warning">Edit</label></a>
                                </td>
                                <td>
                                    <a asp-controller="UserExam" asp-action="Delete" asp-route-id="@item.UserExamId"><label class="badge badge-danger">Delete</label></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        $('#btn').click(function () {
            $('.table').table2excel({
                exclude: ".noExl",
                name: "Data",
                filename: "DataResult"
            })
        })
    </script>
    <script src="~/js/table2excel.js"></script>
}
