@model ExamOnline.Models.Question

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12 stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Subject.SubjectName)</td>
                            <td>@Html.DisplayFor(model => model.Subject.SubjectName)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.QuestionContent)</td>
                            <td>@Html.DisplayFor(model => model.QuestionContent)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Options)</td>
                            <td>
                                @foreach (var item in Model.Options)
                                {
                                    <ul>@item.OptionContent</ul>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Answers)</td>
                            <td>
                                @foreach (var item in Model.Answers)
                                {
                                    <ul>@item.AnswerContent</ul>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <form asp-action="Delete">
                    <div class="form-group">
                        <input type="hidden" asp-for="QuestionID" />
                        <button type="submit" class="btn btn-danger mr-2">Delete</button>
                        <button asp-action="Index" class="btn btn-light">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>