@model IEnumerable<ExamOnline.Models.Question>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="col-12 stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <p>
                    <a asp-controller="Question" asp-action="Create">Create New</a>
                </p>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Subject.SubjectName)</th>
                            <th>@Html.DisplayNameFor(model => model.QuestionContent)</th>
                            <th>@Html.DisplayNameFor(model => model.Options)</th>
                            <th>@Html.DisplayNameFor(model => model.Answers)</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Subject.SubjectName)</td>
                            <td>@Html.DisplayFor(modelItem => item.QuestionContent)</td>
                            <td>
                                <p>
                                    <a asp-controller="Option" asp-action="Create"><label class="badge badge-info">Add</label></a>
                                </p>
                                @foreach (var o in item.Options)
                                {
                                <ul>
                                    <lable>@o.OptionContent</lable>
                                    <a asp-controller="Option" asp-action="Edit" asp-route-id="@o.OptionId"><label class="badge badge-warning">Edit</label></a>
                                    <a asp-controller="Option" asp-action="Delete" asp-route-id="@o.OptionId"><label class="badge badge-danger">Delete</label></a>
                                </ul>
                                }
                            </td>
                            <td>
                                @if (item.Answers.Count == 0)
                                {
                                    <p>
                                        <a asp-controller="Answer" asp-action="Create"><label class="badge badge-info">Add</label></a>
                                    </p>
                                }
                                @foreach (var a in item.Answers)
                                {
                                    <ul>
                                        <lable>@a.AnswerContent</lable>
                                        <a asp-controller="Answer" asp-action="Edit" asp-route-id="@a.AnswerId"><label class="badge badge-warning">Edit</label></a>
                                        <a asp-controller="Answer" asp-action="Delete" asp-route-id="@a.AnswerId"><label class="badge badge-danger">Delete</label></a>
                                    </ul>
                                }
                            </td>
                            <td>
                                <a asp-controller="Question" asp-action="Edit" asp-route-id="@item.QuestionID"><label class="badge badge-warning">Edit</label></a>
                            </td>
                            <td>
                                <a asp-controller="Question" asp-action="Delete" asp-route-id="@item.QuestionID"><label class="badge badge-danger">Delete</label></a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>