@model IQueryable<ExamOnline.Models.Question>

@{
    int count = 1, countRight = 0;
}

<div class="container">
    <div class="row">
        <div class="col-12 stretch-card">
            <div class="card">
                <div class="card-body row" style="border:2px dashed #cecaca; border-radius: 10px">
                    <div class="col-md-4">
                        <p><strong>Welcome: </strong> @ViewData["User"]</p>
                    </div>
                    <div class="col-md-5">
                        <p><strong>Subject:</strong> @ViewData["Subject"]</p>
                    </div>
                    <div class="col-md-3">
                        <p><strong>Time: </strong><label id="timer"></label></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 stretch-card">
            <div class="card">
                <div class="card-body" id="score" style="font-family:'Courier New'">

                </div>
            </div>
        </div>
    </div>
    <div class="main-panel">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    @if (Model != null && Model.Any())
                    {
                        foreach (var question in Model)
                        {
                            <div class="card-body">
                                <div class="Question" style="padding: 2%;">
                                    <span class="card-title"> @string.Format("{0}{1}.", "Q", count)</span>
                                    <span id="@string.Format("{0}{1}", "ID_Q", count)" style="display:none;">@question.QuestionID</span>
                                    <p style="display: inline; padding: 2%;" id="@string.Format("{0}{1}", "Q", count)">@question.QuestionContent</p>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" style="padding-left: 75px;">
                                        <div class="form-group">
                                            @foreach (var option in question.Options)
                                            {
                                                <label class="radio-inline">
                                                    <input type="radio" name="@string.Format("{0}{1}", "inlineRadioOptions",count)" id="@string.Format("{0}{1}", "inlineRadio", countRight)" value="@option.OptionContent"> @option.OptionContent
                                                </label><br />
                                                countRight++;
                                            }
                                        </div>
                                    </div>
                                </div>
                                @foreach (var answer in question.Answers)
                                {
                                    <input type="hidden" name="@string.Format("{0}{1}", "inlineAnswers",count)" id="@string.Format("{0}{1}", "inlineAnswer", countRight)" value="@answer.AnswerContent">
                                }
                                <div id="@string.Format("{0}{1}{2}", "Ans","Q", count)">
                                </div>
                            </div>
                            count++;
                        }
                        <span id="countQuections" style="display:none;">@count</span>
                        <button id="SubmitQuiz" type="submit" class="btn btn-success mr-3" style="text-align:center"><span class="glyphicon glyphicon-ok"></span>Submit Quiz</button>
                    }
                </div>
            </div>
        </div>

    </div>
</div>

@section scripts{
    <script type='text/javascript'>
        var start = new Date();
        setInterval(function () {
            // check time elapsed given target time of 10 mins from now
            var timeLeft = (60000 - (new Date() - start)) / 1000;
            // update timer
            document.getElementById('timer').innerHTML = Math.floor(timeLeft / 60) + ":" + Math.floor(timeLeft % 60);

            // check if timer has elapsed, and submit form
            if (timeLeft <= 0) {
                clearInterval();
                document.getElementById('timer').innerHTML = '<strong style="color:red">0:0</strong>';
                document.getElementById("SubmitQuiz").disabled = true;
            }
        }, 1000);
    </script>
    <script type="text/javascript">
        $(document).ready(function submitQuiz() {
            $("#SubmitQuiz").click(function () {
                var n = $('#countQuections').text() - 1;
                var countQuestion = parseInt(n);
                var yourAnswer = [];
                var j = 1;
                var right = 0;
                var correctAnswer = [];
                for (var i = 1; i <= countQuestion; i++) {
                    var answer = $('input[name=inlineRadioOptions' + i + ']:checked').val();
                    yourAnswer.push(answer);
                }
                for (var i = 1; i <= countQuestion; i++) {
                    var answer = $('input[name=inlineAnswers' + i + ']:').val();
                    correctAnswer.push(answer);
                }
                console.log(yourAnswer);
                console.log(correctAnswer);
                for (var i = 0; i < countQuestion; i++) {
                    if (yourAnswer[i] == correctAnswer[i]) {
                        $('#AnsQ' + j).html('<p class="alert-success">Correct answer</p>');
                        right++;
                    } else {
                        $('#AnsQ' + j).html('<p class="alert-danger">Incorrect answer<p>');
                    }
                    j++;
                }
                var score = (right / countQuestion) * 10;
                $('#score').html('<h3 style="text-align:center"> Your Score: ' + score + '/10</h3>');
                document.getElementById("SubmitQuiz").disabled = true;
            });
        });
    </script>
}





