@model D2CMS.CORE.Models.Report


<td><input type="text" class="form-control report-time text-right" name="Study" value="@Model.Study"></td>
<td class="hidden"><input type="text" class="form-control report-time text-right" name="Docs" value="@Model.Docs"></td>
<td class="hidden"><input type="text" class="form-control report-time text-right" name="Coding" value="@Model.Coding"></td>
<td><input type="text" class="form-control report-time text-right" name="TestCode" value="@Model.TestCode"></td>
<td class="hidden"><input type="text" class="form-control report-time text-right" name="FixBug" value="@Model.FixBug"></td>
<td><input type="text" class="form-control report-time text-right" name="TestBug" value="@Model.TestBug"></td>
<td class="hidden"><input type="text" class="form-control report-time text-right" name="Training" value="@Model.Training"></td>
<td class="hidden"><input type="text" class="form-control report-time text-right" name="Communication" value="@Model.Communication"></td>
<td class="hidden"><input type="text" class="form-control report-time text-right" name="Manage" value="@Model.Manage"></td>
<td class="hidden"><input type="text" class="form-control report-time text-right" name="Meeting" value="@Model.Meeting"></td>
<td class="hidden"><input type="text" class="form-control report-time text-right" name="Reviewing" value="@Model.Reviewing"></td>