@model IEnumerable<BookManagement.Core.Models.Book>

<div class="col-12 stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <p>
                    <a asp-action="Create">Create New</a>
                </p>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.BookName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ImageUrl)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Author)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Genre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Synopsis)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PublishDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ReviewDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Review)
                            </th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.BookName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ImageUrl)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Author.AuthorName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Genre.GenreName)
                            </td>
                            <td>
                                @item.Synopsis.Substring(0, 150)
                                ...
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PublishDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReviewDate)
                            </td>
                            <td>
                                @item.Review.Substring(0, 150)
                                ...
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.BookId"><label class="badge badge-info">Detail</label></a>
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.BookId"><label class="badge badge-warning">Edit</label></a>
                            </td>
                            <td>
                                <a asp-action="Delete" asp-route-id="@item.BookId"><label class="badge badge-danger">Delete</label></a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

