@model IEnumerable<BookManagement.Core.Models.Author>

<div class="col-12 stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <p>
                    <a asp-action="Create">Create New</a>
                </p>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="col-lg-2">Name</th>
                            <th class="col-lg-7">Biography</th>
                            <th class="col-lg-1"></th>
                            <th class="col-lg-1"></th>
                            <th class="col-lg-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.AuthorName)</td>
                                <td>
                                    @item.AuthorBio.Substring(0, 150)
                                    ...
                                </td>
                                <td>
                                    <a asp-action="Details" asp-route-id="@item.AuthorId"><label class="badge badge-info">Detail</label></a>
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.AuthorId"><label class="badge badge-warning">Edit</label></a>
                                </td>
                                <td>
                                    <a asp-action="Delete" asp-route-id="@item.AuthorId"><label class="badge badge-danger">Delete</label></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
